.home-container {
    width: 95%;
    margin: 7rem auto;
    display: flex;
    justify-content: center;
    gap: 6rem;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
}

.service {
    width: 30rem;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    gap: 2rem;
    color: black;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.service img {
    width: 7.5rem;
}

.service:hover {
    outline: 2px solid black;
}

@media (max-width: 1200px) {
    .home-container {
        margin-top: 3rem;
        gap: 3rem;
    }

    .service {
        width: 25rem;
        gap: 1.5rem;
    }

    .service-title {
        font-size: 1.2rem;
    }

    .service img {
        width: 4rem;
    }

    .service-description {
        font-size: 0.8rem;
    }
}