.chat-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
    border-bottom: 1px solid black;
}

.chat-container img {
    width: 2.5rem;
}

@media (max-width: 450px) {
    .chat-container img {
        width: 1.5rem;
    }

    .message-content {
        font-size: 0.9rem;
    }
}